<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Copyright @2021 Grapefruit. All rights reserved.-->
<mapper namespace="com.grapefruit.springboot.mysql.mapper.MyMapper">
    <resultMap type="com.grapefruit.springboot.mysql.entity.Grape" id="baseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectGrapeById" resultMap="baseResultMap">
        select * from grape where id = #{id};
    </select>

    <update id="upGrapeById" parameterType="com.grapefruit.springboot.mysql.entity.Grape">
        update grape set name = #{grape.name},num=#{grape.nu},context = #{grape.context};
    </update>

    <insert id="insert" parameterType="com.grapefruit.springboot.mysql.entity.Grape" >
        insert into grape (id,name,num,content) values (#{id},#{name},#{num},#{content});
    </insert>

    <insert id="insertList">
        insert into grape (id,name,num,content) values
        <foreach item="item" collection="list"  separator="," >
            (#{item.id},#{item.name},#{item.num},#{item.content})
        </foreach>
    </insert>

    <delete id="deleteList" parameterType="list" >
        delete from grape where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>